body {
    font-family: Asap, sans-serif;
    font-size: 16px;
    color: rgb(33, 47, 47);
    background-color:rgb(243, 239, 206);
    max-width: 900px;
    margin: 0 auto;  
}

@media only screen and (max-width: 899px) {
    body {
        max-width: 90%;
    }
}

h1 {
    font-weight: 800;
}

a {
    text-decoration: none;
    color: rgb(33, 47, 47);
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
}

/*Header Section*/

header {
    display: flex;
    justify-content: space-between ;
}

header ul {
    display: inline-flex;
}

header li {
    list-style: none;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.1rem;
}

@media only screen and (max-width: 700px) {
    header {
        justify-content: center;
    }
    
    header h1 { /*Makes the header H1 disappear*/
        display: none;
    }

    header ul {
        padding: 0;
        max-width: 90%;
    }
}

/*About-Me Section*/

.about-me {
    display: flex;
    justify-content: space-between;
}

.about-me-container { 
    width: 50%;
}

.about-me-container h1 {
    display: none;
}

.about-me img {
    border-radius: 50%;
    align-self: center;
}

.about-me-container p {
    font-size: 1.2rem;
}

@media only screen and (max-width: 700px) {
    .about-me {
        display: grid;
        justify-items: center;
    }
    
    .about-me img {
        display: none;
    }

    .about-me h1 { /*Appears the "about-me" H1 */
        display: block;
        font-size: 2rem;
        font-weight: 800;
    }

    .about-me-container { 
        width: 80%;
    }
}

/*Projects Section*/

.projects-container ul {
    padding-left: 1rem;
}

.projects-container li {
    cursor: pointer;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 1.1rem;
}

.projects-container p {
    width: 80%;
}

/*Skills Section*/

.logos img {
    margin: 1rem;
}

/*Contact Section*/

.contact-container {
    display: block;
}

.contact-info {
    display: inline-flex;
}

.contact-info img {
    margin: 1rem;
}

.contact-info a {
    display: flex;
    align-items: center;
}

.contact-message {
    padding: 1rem;
}

.contact-message input {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
    .contact-container p {
        display: none;
    }
}

@media only screen and (max-width: 440px) {
    textarea {
        max-width: 90%;
    }
}